/*Declare CSS variables and assign them a default start value*/
:root{
    --weightH1: 600;
}
/* include local fonts */
@font-face {
    font-family: "KairosSans";
    /*attention to the format in which the font is loaded*/
    src: url("../fonts/KairosSans_Variable.ttf") format("truetype-variations");
}

html, body{
    height: 100%;
    margin: 0;
    padding: 0;  
}
body{
    font-family: "KairosSans";
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
/* font-variation-settings: this property allows to access font variable axis*/
    /* wght value: font weight axis 250-900 */
    /* wdth value: font width axis 75-125 */
    /* ital value:  font italic axis 0-1 */
h1{
    margin: 0; 
    /*Modifies the value of the variation axes from the data received*/
    font-variation-settings: "wght" var(--weightH1), "wdth" 125;
    font-size: 3em;
    color: #00AEEF;
}
h2{
    font-variation-settings: "wght" 300, "ital" 1;
    color: gray;
    margin: .2em 0 1em 0;
}

.info{
    margin-top: 20px;
    padding: 20px;
    border: 1px #00AEEF solid;
    display: table-cell;
    vertical-align: middle;
    line-height: 2em;
}
