/* create css variables */
:root{
    --weightH1: 600;
}
/* include local fonts */
@font-face {
    font-family: "KairosSans";
    src: url("../fonts/KairosSans_Variable.ttf") format("truetype-variations");
}

html, body{
    height: 100%;
    margin: 0;
    padding: 0;  
}
body{
    font-family: "KairosSans";
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
/* font-variation-settings: this property allows to access font variable axis*/
    /* wght value: font weight axis 250-900 */
    /* wdth value: font width axis 75-125 */
    /* ital value:  font italic axis 0-1 */
h1{
    margin: 0; 
    font-variation-settings: "wght" var(--weightH1), "wdth" 125;
    font-size: 3em;
    color: #00AEEF;
}
h2{
    font-variation-settings: "wght" 300, "ital" 1;
    color: gray;
    margin: .2em 0 2em 0;
}
h3{
    margin: 0 0 20px 0;
}
.controles{
    padding: 20px;
    border: 1px #00AEEF solid;
    display: table-cell;
    vertical-align: middle;
}
#showAxisValue{
    padding-top: .5em;
}
label, input{
    vertical-align:middle;
}